apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: frontend
  namespace: dashboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: ${_IMAGE}
        # command: ["sh", "-c"]
        # args: ['sleep 1000']
        ports:
        - containerPort: 3000
        resources:
          limits:
            memory: "12Gi"
            cpu: "6"
        env:
        - name: REACT_APP_BASE_BACKEND_URL 
          value: backend-service
        - name: TEST
          value: "test"
        envFrom:
        - secretRef:
            name: frontend
