.top_bar {
  display: flex;
  justify-content: space-between;
}

.info_container {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info_btn_container {
  display: flex;
}

.conatiner_margin {
  margin-top: 0.5rem;
}

.jobs_table_layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.btn_bar {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 2rem;
}
.job_btn {
  margin-right: 4rem;
}
