.drag_drop {
  width: 33vw;
  height: 23vh;
  border: 1px solid gray;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.upload_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 2rem;
  overflow: hidden;
}
.drag_drop_filled {
  width: 33vw;
  height: 23vh;
  border: 1px solid gray;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: gray;
}
