.bg_color {
  background-color: #143352;
  color: white;
}

.dialog_content_name {
  background-color: #143352;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.text_field {
  width: 70%;
  color: white;
}
